.banner {
    border-radius: 17px;
    background-color: var(--light_blue_3);
    display: flex;
    min-height: 236px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &--type_1 {
        .banner__inner {
            @media(max-width: $sm - 0.01px) {
                flex-direction: row;
            }
        }

        .banner__image {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }
    }

    &--type_2 {
        .banner__text-block {
            @media(min-width: $hd) {
                padding-left: 100px;
            }
        }
    }

    &--type_3 {
        .banner__text-block {
            @media(max-width: $sm - 0.01px) {
                padding-bottom: 0;
            }

            .banner__button {
                @media(max-width: $sm - 0.01px) {
                    bottom: 16px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    top: auto;
                    z-index: 1;
                }
            }
        }
    }

    &--type_4 {
        .banner__image {
            justify-content: flex-end;
        }
    }

    &--type_5 {
        .banner__inner {
            @media(max-width: $sm - 0.01px) {
                background-image: none;
                flex-direction: column-reverse;
            }
        }

        .banner__text-block {
            @media(max-width: $sm - 0.01px) {
                background: linear-gradient(0, #E1F3FE 70%, rgba(255, 255, 255, 0) 100%);
                margin-top: -48px;
                padding: 48px 16px 24px;
                position: relative;
                z-index: 1;
            }
        }
    }

    &::after {
        background: var(--light_blue_1);
        content: '';
        filter: blur(107px);
        height: 400px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        z-index: 1;
    }

    &::before {
        background: var(--violet);
        content: '';
        filter: blur(107px);
        height: 194px;
        left: 55%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 194px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        &.mb-8 {
            margin-bottom: 8px;
            @media(min-width: $sm) {
                margin-bottom: 8px;
            }
        }
    }

    p {
        &:not([class]):not(:last-child) {
            margin-bottom: 16px;
        }
    }

    ul {
        margin-top: 0;
    }

    &__inner {
        background-image: url("../images/backgrounds/banner-bg.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        width: 100%;
        z-index: 2;
        @media(min-width: $sm) {
            flex-direction: row;
        }
    }

    &__text-block {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px 16px;
        @media(min-width: $sm) {
            padding: 30px 0 30px 30px;
            position: relative;
            width: 70%;
            z-index: 2;
        }
        @media(min-width: $hd) {
            padding: 30px 0 30px 60px;
        }

        br {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        .button {
            min-width: 180px;
            @media(max-width: $sm - 0.01px) {
                width: 270px;
            }
        }
    }

    &__image {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        overflow: hidden;
        @media(min-width: $sm) {
            bottom: 0;
            justify-content: flex-end;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        img {
            display: block;
            @media(min-width: $sm) {
                height: 100%;
            }
        }
    }

    &__price {
        color: var(--blue_2);
        font-size: 22px;
        font-weight: 800;
        line-height: 1.22727;
        margin-bottom: 0 !important;
    }

    &__small-text {
        font-size: 14px;
        line-height: 1.21428;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__action {
        background-color: var(--red_2);
        border-radius: 20px;
        color: var(--white_1);
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21428;
        margin-bottom: 16px;
        padding: 8px 16px;
    }

    &__link {
        align-items: center;
        color: var(--red_2);
        display: flex;
        gap: 5px;
        font-weight: 700;
        text-decoration: none;
        @include hover {
            color: var(--red_4);
        }
        @include active {
            color: var(--red_4);
        }

        svg {
            fill: currentColor;
            height: 27px;
            min-width: 27px;
            width: 27px;
        }
    }

    &__button {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.doctor-reviews {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    width: 100%;
    @media(min-width: $sm) {
        gap: 8px;
    }
    /*&__value {
        align-items: center;
        border-radius: 7px;
        background-color: var(--blue_6);
        border: 1px solid var(--blue_6);
        display: flex;
        font-weight: 500;
        flex-grow: 1;
        height: 40px;
        justify-content: center;
        max-width: 180px;
        padding-left: 8px;
        padding-right: 8px;
    }*/
    .button {
        border-radius: 7px;
        flex-grow: 1;
        max-width: 180px;
        min-height: 40px;
        @include hover {
            background-color: var(--blue_6);
            border: 1px solid var(--blue_6);
        }
    }
}

.about-doctor {
    @media(min-width: $sm) {
        margin-bottom: 16px;
    }

    p {
        line-height: 1.25;

        & + ul {
            margin-top: -8px;
        }
    }
}