.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 11px;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5;
    min-height: 45px;
    padding: 0 8.5px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--red {
        background-color: var(--red_1);
        color: var(--white_1);
        gap: 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--red_4);
                color: var(--white_1);
            }
            @include active {
                background-color: var(--red_4);
                color: var(--white_1);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey_3);
            color: var(--grey_7);

            svg {
                fill: var(--grey_7);
            }
        }
    }

    &--blue {
        background-color: var(--blue_10);
        color: var(--white_1);
        gap: 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--blue_11);
                color: var(--white_1);
            }
            @include active {
                background-color: var(--blue_11);
                color: var(--white_1);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey_3);
            color: var(--grey_7);

            svg {
                fill: var(--grey_7);
            }
        }
    }

    &--light_blue {
        background-color: var(--light_blue_1);
        border-color: var(--blue_6);
        color: var(--blue_3);
        gap: 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--light_blue_2);
                border-color: var(--blue_6);
                color: var(--blue_3);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey_3);
            border-color: var(--grey_3);
            color: var(--grey_7);

            svg {
                fill: var(--grey_7);
            }
        }
    }

    &--white {
        background-color: var(--white_2);
        border-color: var(--blue_6);
        color: var(--blue_3);
        gap: 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--light_blue_1);
                border-color: var(--blue_6);
                color: var(--blue_3);
            }
            @include active {
                background-color: var(--light_blue_2);
                border-color: var(--blue_6);
                color: var(--blue_3);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey_3);
            border-color: var(--grey_3);
            color: var(--grey_7);

            svg {
                fill: var(--grey_7);
            }
        }
    }
}