.download-link {
    align-items: center;
    border-radius: 7px;
    border: 1px dashed var(--blue_1);
    color: var(--blue_3);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    justify-content: center;
    min-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    @include hover {
        background-color: var(--light_blue_1);
    }
    @include active {
        background-color: var(--light_blue_2);
    }

    svg {
        fill: currentColor;
        height: 30px;
        min-width: 30px;
        width: 30px;
    }
}