.download-link_2 {
    align-items: center;
    border-radius: 15px;
    border: 1px dashed var(--blue_1);
    color: var(--blue_3);
    cursor: pointer;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    min-height: 120px;
    padding: 16px 36px;
    transition: background-color 0.3s;
    text-decoration: none;
    @include hover {
        background-color: var(--light_blue_1);

        .download-link_2__link {
            color: var(--red_3);
        }
    }
    @include active {
        background-color: var(--light_blue_2);

        .download-link_2__link {
            color: var(--red_4);
        }
    }

    &__icon {
        fill: var(--blue_1);
        height: 30px;
        min-width: 30px;
        width: 30px;
    }

    &__title {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    &__link {
        align-items: center;
        color: var(--red_2);
        display: flex;
        gap: 5px;
        font-size: 16px;
        font-weight: 700;
        transition: color 0.3s;

        svg {
            fill: currentColor;
            height: 27px;
            min-width: 27px;
            width: 27px;
        }
    }
}