.file-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    @media(min-width: $sm) {
        flex-direction: row;
        gap: 16px;
    }

    & > * {
        @media(min-width: $sm) {
            width: calc(100% / 2 - 16px / 2);
        }
    }
}

.file {
    display: block;
    position: relative;
    z-index: 1;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:not(:disabled) {
            & + .file__inner {
                border: 1px dashed var(--blue_1);
                color: var(--blue_3);
                cursor: pointer;

                svg {
                    fill: var(--blue_1);
                }
                @include hover {
                    background-color: var(--light_blue_1);
                }
                @include active {
                    background-color: var(--light_blue_2);
                }
            }
        }

        &:disabled {
            & + .file__inner {
                background-color: var(--grey_3);
                color: var(--grey_7);

                .required {
                    color: var(--grey_7);
                }

                svg {
                    fill: var(--grey_7);
                }
            }
        }
    }

    &__inner {
        align-items: center;
        border-radius: 7px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        gap: 10px;
        height: 40px;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
        transition: background-color 0.3s;
        text-decoration: underline;

        svg {
            height: 30px;
            min-width: 30px;
            width: 30px;
        }
    }
}

.file-attach {
    align-items: center;
    border: 1px dashed var(--blue_1);
    border-radius: 7px;
    max-width: 100%;
    padding: 3px 48px 3px 16px;
    position: relative;
    text-align: left;
    z-index: 1;

    &.is-filled {
        .file-attach__clear {
            display: block;
        }
    }

    &__title,
    &__value {
        font-size: 13px;
        line-height: 1.23076;
        margin-bottom: 0;
    }

    &__value {
        color: var(--blue_1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__clear {
        @include button-reset;
        @include active-area;
        display: none;
        height: 16px;
        left: auto;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        z-index: 2;
        @include hover {
            svg {
                fill: var(--blue_1);
            }
        }

        svg {
            fill: var(--blue_4);
            display: block;
            height: 16px;
            width: 16px;
        }
    }
}