.links-list {
    border-radius: 11px;
    border: 1px solid var(--blue_6);
}

.list-link {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    @media(min-width: $sm) {
        padding-left: 48px;
        padding-right: 48px;
    }

    &:not(:last-child) {
        .list-link__inner {
            border-bottom: 1px solid var(--blue_6);
        }
    }
    @include hover {
        .list-link__link {
            color: var(--red_3);
        }
    }
    @include active {
        .list-link__link {
            color: var(--red_4);
        }
    }

    &__inner {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }
    }

    &__title {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 8px;
        @media(min-width: $sm) {
            margin-bottom: 0;
        }
    }

    &__link {
        align-items: center;
        color: var(--red_2);
        display: flex;
        gap: 5px;
        font-weight: 700;
        transition: color 0.3s;
        text-decoration: none;

        svg {
            fill: currentColor;
            height: 27px;
            min-width: 27px;
            width: 27px;
        }
    }
}