.analysis-list {
    border: 1px solid var(--blue_6);
    border-radius: 7px;
    padding: 16px;
    @media(min-width: $sm) {
        padding: 24px;
    }
}

.analysis {
    &:not(:last-child) {
        margin-bottom: 24px;

        .analysis__inner {
            border-bottom: 1px solid var(--blue_6);
            padding-bottom: 24px;
        }
    }

    &--type_2 {
        &:not(:last-child) {
            margin-bottom: 0;

            .analysis__inner {
                padding-bottom: 16px;
            }
        }

        .analysis__inner {
            padding: 16px;
            @media(min-width: $sm) {
                padding-left: 24px;
                padding-right: 24px;
            }
            @media(min-width: $hd) {
                padding-left: 32px;
                padding-right: 32px;
            }
        }

        .analysis__row--big {
            display: flex;
            gap: 0 16px;
            flex-wrap: wrap;
            @media(min-width: $sm) {
                gap: 24px;
            }

            &:not(:last-child) {
                @media(min-width: $sm) {
                    margin-bottom: 5px;
                }
            }

            .analysis__code {
                @media(max-width: $sm - 0.01px) {
                    width: 100%;
                }
            }

            .analysis__title {
                @media(max-width: $sm - 0.01px) {
                    max-width: calc(100% - 110px);
                }
            }
        }
    }

    &__row {
        align-items: baseline;
        font-size: 14px;
        line-height: 1.21428;
        @media(min-width: $sm) {
            display: flex;
            gap: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
            @media(min-width: $sm) {
                margin-bottom: 16px;
            }
        }

        &--big {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            @media(min-width: $sm) {
                position: relative;
                z-index: 1;
            }

            &:not(:last-child) {
                @media(min-width: $sm) {
                    margin-bottom: 18px;
                }
            }

            .analysis__code {
                @media(max-width: $sm - 0.01px) {
                    margin-bottom: 10px;
                }
            }

            .analysis__title {
                @media(min-width: $sm) {
                    max-width: calc(100% - 180px - 24px - 24px - 140px);
                }
            }
        }
    }

    &__code {
        @media(max-width: $sm - 0.01px) {
            margin-bottom: 8px;
        }
        @media(min-width: $sm) {
            min-width: 180px;
            width: 180px;
        }
    }

    &__price {
        color: var(--blue_1);
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        white-space: nowrap;

        &--desktop {
            left: auto;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        &--mobile {
            margin-bottom: 10px;
            @media(min-width: $sm) {
                display: none;
            }
        }
    }

    &__qnt {
        margin-left: auto;
    }

    &__time {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21428;
        @media(max-width: $sm - 0.01px) {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .big {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media(min-width: $sm) {
            align-items: center;
            flex-direction: row;
            gap: 24px;
        }

        .button {
            @media(max-width: $sm - 0.01px) {
                width: 100%;
            }
            @media(min-width: $sm) {
                min-width: 180px;
                width: 180px;
            }

            svg {
                fill: var(--blue_1);
                height: 20px;
                width: 20px;
            }
        }
    }
}