.doctor-card {
    border-radius: 17px;
    background-color: var(--white_2);
    box-shadow: -22px 26px 14px rgba(13, 110, 253, 0.01), -12px 15px 11px rgba(13, 110, 253, 0.04), -6px 6px 8px rgba(13, 110, 253, 0.06), -1px 2px 5px rgba(13, 110, 253, 0.07);
    display: flex;
    flex-direction: column;

    &__image {
        background: radial-gradient(74.4% 74.4% at 51.57% 50%, rgba(247, 247, 247, 0.33) 31.84%, #D8E7FF 100%);
        border-radius: 17px 17px 0 0;

        img {
            display: block;
            height: 280px;
            object-fit: contain;
            object-position: center;
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 16px 20px 20px;
    }

    &__name {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 16px;
    }

    &__bottom {
        border-top: 1px solid var(--blue_6);
        margin-top: auto;
        padding-top: 16px;
    }

    &__bottom-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__exp {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    &__link {
        align-items: center;
        color: var(--red_2);
        display: flex;
        gap: 5px;
        font-weight: 700;
        transition: color 0.3s;
        text-decoration: none;
        @include hover {
            color: var(--red_3);
        }
        @include active {
            color: var(--red_4);
        }

        svg {
            fill: currentColor;
            height: 27px;
            min-width: 27px;
            width: 27px;
        }
    }

    .button {
        width: 100%;
    }
}