.icon-link {
    border-radius: 17px;
    border: 1px solid var(--blue_6);
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-decoration: none;
    transition: background-color 0.3s;
    @include hover {
        background-color: var(--light_blue_1);

        .icon-link__icon {
            background-color: var(--white_2);
        }

        .icon-link__link {
            color: var(--red_3);
        }
    }
    @include active {
        .icon-link__link {
            color: var(--red_4);
        }
    }

    &__icon {
        align-items: center;
        background-color: var(--light_blue_4);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        height: 58px;
        margin-bottom: 16px;
        transition: background-color 0.3s;
        width: 58px;
    }

    &__title {
        font-size: 16px;
        line-height: 1.25;
        min-height: 2.5em;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__link {
        align-items: center;
        color: var(--red_2);
        display: flex;
        gap: 5px;
        font-weight: 700;
        margin-top: auto;
        transition: color 0.3s;

        svg {
            fill: currentColor;
            height: 27px;
            min-width: 27px;
            width: 27px;
        }
    }
}