.mission-banner {
    @media(min-width: $hd) {
        margin-top: -100px;
    }

    &__top {
        @media(min-width: $sm) {
            align-items: flex-end;
            display: flex;
            gap: 24px;
        }
    }

    &__text-block {
        padding-bottom: 16px;
        @media(min-width: $sm) {
            flex-grow: 1;
            padding-bottom: 24px;
        }
    }

    &__image {
        @media(max-width: $sm - 0.01px) {
            display: none;
        }
        @media(min-width: $sm) {
            min-width: 350px;
            position: relative;
            width: 350px;
            z-index: 1;
        }
        @media(min-width: $hd) {
            min-width: 390px;
            width: 390px;
        }

        &::after {
            background: var(--light_blue_1);
            content: '';
            filter: blur(107px);
            height: 400px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            z-index: 1;
        }

        &::before {
            background: var(--violet);
            content: '';
            filter: blur(107px);
            height: 194px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 194px;
            z-index: 2;
        }

        img {
            display: block;
        }
    }

    &__image-bg {
        background-image: url("../images/backgrounds/banner-bg.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: relative;
        z-index: 3;
    }

    &__subtitle {
        color: var(--blue_1);
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
    }

    &__bottom {
        border-radius: 17px;
        border: 1px solid var(--blue_6);
        background-color: var(--light_blue_1);
        padding: 32px 16px;
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            gap: 48px;
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__bottom-block {
        & + & {
            @media(max-width: $sm - 0.01px) {
                border-top: 1px solid var(--blue_6);
                margin-top: 24px;
                padding-top: 24px;
            }
        }
    }

    &__values {
        @media(min-width: $sm) {
            position: relative;
            white-space: nowrap;
            z-index: 1;
        }
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            gap: 16px;
        }

        &::after {
            @media(min-width: $sm) {
                border-left: 1px solid var(--blue_6);
                content: '';
                height: 90px;
                left: auto;
                position: absolute;
                right: -24px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
        }

        b {
            display: block;
            font-size: 20px;
            line-height: 1.25;
            margin-bottom: 8px;
        }
    }

    &__value {
        color: var(--red_1);
        display: block;
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        margin-bottom: 8px;
    }
}