.only-mobile-slider {
    position: relative;
    z-index: 1;
    @media(max-width: $sm - 0.01px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        padding-right: var(--container_padding);
        padding-left: var(--container_padding);
    }

    &__title-block {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 24px;
        @media(min-width: $hd) {
            margin-bottom: 32px;
        }
    }

    &__title {
        margin: 0 !important;
    }

    &__arrows {
        display: flex;
        gap: 25px;
        margin-left: auto;

        &:empty {
            display: none;
        }
    }

    &__container {
        @media(max-width: $sm - 0.01px) {
            margin-left: calc(0.01px - var(--container_padding));
        }
    }

    &__slider {
        @media(min-width: $sm) {
            display: flex;
            flex-wrap: wrap;
            gap: 32px 24px;
        }
    }

    .slick-slide {
        display: flex;
        margin-left: var(--container_padding);
        padding-bottom: 24px;
    }

    &__slider-item {
        display: flex;
        @media(min-width: $sm) {
            width: calc(100% / 2 - 24px / 2);
        }
    }

    &__bottom {
        @media(min-width: $sm) {
            margin-top: 12px;
        }
    }

    &__dots {}
}