.page-404 {
    @media(min-width: $hd) {
        align-items: center;
        display: flex;
        gap: 60px;
    }

    &__image {
        margin-left: -32px;
        width: 570px;
        @media(max-width: $hd - 0.01px) {
            display: none;
        }
    }

    &__content {
        padding-top: 85px;
        padding-bottom: 50px;
        @media(min-width: $sm) {
            flex-grow: 1;
            padding-top: 100px;
            padding-bottom: 75px;
        }
    }

    &__image-title {
        align-items: flex-end;
        display: flex;
        gap: 15px;
        margin-bottom: 32px;
        @media(min-width: $sm) {
            gap: 75px;
            margin-bottom: 48px;
        }

        img {
            &:nth-child(1) {
                width: 245px;
                @media(min-width: $sm) {
                    width: 485px;
                }
                @media(min-width: $hd) {
                    width: 400px;
                }
            }

            &:nth-child(2) {
                width: 60px;
                @media(min-width: $sm) {
                    width: 160px;
                }
                @media(min-width: $hd) {
                    display: none;
                }
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 800;
        line-height: 1.22727;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.21428;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 0;
                @media(max-width: $sm - 0.01px) {
                    margin-bottom: 8px;
                }
            }
        }
    }

    &__buttons {
        @media(min-width: $sm) {
            display: flex;
            gap: 24px;
        }

        .button {
            font-size: 16px;
            padding-left: 16px;
            padding-right: 16px;
            @media(max-width: $sm - 0.01px) {
                max-width: 320px;
                width: 100%;
            }
            @media(min-width: $sm) {
                width: calc(100% / 2 - 24px / 2);
            }

            svg {
                fill: var(--blue_1);
                height: 24px;
                width: 24px;
            }
        }

        .search-form {
            @media(max-width: $sm - 0.01px) {
                margin-top: 16px;
                max-width: 320px;
                width: 100%;
            }
            @media(min-width: $sm) {
                width: calc(100% / 2 - 24px / 2);
            }

            .search-form__input {
                border-radius: 11px;
            }
        }
    }
}