.photo-gallery {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    @media(min-width: $sm) {
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.photo-item {
    border-radius: 15px;
    display: block;
    overflow: hidden;
    @include hover {
        img {
            transform: scale(1.02);
        }
    }

    img {
        display: block;
        transform: scale(1);
        transition: transform 0.3s;
        width: 100%;
    }
}