.prices {
    &__menu-block {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 16px 24px;
            justify-content: space-between;
        }

        .tabs-menu {
            margin-bottom: 0;
        }

        .download-link {
            white-space: nowrap;
            width: 486px;
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }
    }

    &__bottom {
        margin-top: 24px;
        @media(min-width: $sm) {
            display: none;
        }

        .download-link {
            width: 100%;
        }
    }
}