.reviews-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    @media(min-width: $sm) {
        gap: 24px;
    }
    @media(min-width: $md) {
        flex-direction: row;
    }
    @media(min-width: 1300px) {
        margin-bottom: 0;
    }

    &__block {
        @media(min-width: $md) {
            width: calc(100% / 2 - 24px / 2);
        }

        img {
            display: block;
        }
    }

    &__title {
        color: var(--blue_1);
        font-size: 20px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
}