.search-form {
    &__form {
        position: relative;
        z-index: 1;

        &.is-open {
            .search-form__input {
                border-radius: 7px 7px 0 0;
            }

            .search-form__dropdown {
                display: block;
            }
        }
    }

    &__input {
        background-color: var(--white_2);
        border: 1px solid var(--grey_2);
        border-radius: 7px;
        color: var(--grey_6);
        font-size: 14px;
        height: 40px;
        padding-left: 54px;
        padding-right: 16px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: inherit;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: inherit;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: inherit;
            opacity: 1;
        }
    }

    &__submit {
        @include button-reset;
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 54px;
        z-index: 1;
        @include hover {
            svg {
                fill: var(--blue_7);
            }
        }
        @include active {
            svg {
                fill: var(--blue_8);
            }
        }

        svg {
            fill: var(--blue_1);
            height: 24px;
            width: 24px;
        }
    }

    &__dropdown {
        background-color: var(--white_2);
        border: 1px solid var(--grey_2);
        border-top: none;
        border-radius: 0 0 7px 7px;
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
    }

    &__dropdown-list {
        @include scrollbar;
        max-height: 340px;
        overflow-y: auto;
    }

    &__var {
        @include button-reset;
        color: var(--blue_3);
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        padding: 11px 16px;
        text-align: left;
        text-decoration: none;
        transition: background-color 0.3s;
        width: 100%;

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey_2);
        }
        @include hover {
            background-color: var(--light_blue_1);
        }

        &--more {
            align-items: center;
            border-top: 1px solid var(--grey_2);
            border-radius: 0 0 7px 7px;
            display: flex;
            justify-content: center;

            svg {
                fill: var(--blue_1);
                height: 20px;
                width: 20px;
            }
        }
    }

    &__no-results {}
}