.show-more {
    margin-top: 24px;
    text-align: right;
    @media(min-width: $sm) {
        margin-top: 32px;
    }

    &__button {
        @include button-reset;
        align-items: center;
        color: var(--blue_1);
        display: inline-flex;
        font-size: 20px;
        font-weight: 700;
        height: 40px;
        transition: color 0.3s;
        text-decoration: none;
        @include hover {
            color: var(--blue_7);
        }
        @include active {
            color: var(--blue_8);
        }
    }

    .button {
        @media(max-width: $sm - 0.01px) {
            width: 100%;
        }
        @media(min-width: $sm) {
            min-width: 162px;
        }
        @media(min-width: $hd) {
            min-width: 180px;
        }
    }
}