<div class="float-block compensate-for-scrollbar">
    <div class="float-block__note">
        <div class="container">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО<br> ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ</div>
    </div>

    <div class="float-block__mobile-buttons">
        <button class="mobile-button" type="button" data-fancybox="record" data-src="#record">
            <span class="mobile-button__icon">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#mobile_record_icon" />
                </svg>
            </span>
            Запись
        </button>

        <button class="mobile-button" type="button" data-fancybox="callback" data-src="#callback">
            <span class="mobile-button__icon">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#mobile_call_icon" />
                </svg>
            </span>
            Звонок
        </button>

        <button class="mobile-button" type="button">
            <span class="mobile-button__icon">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#mobile_review_icon" />
                </svg>
            </span>
            Отзыв
        </button>

        <button class="mobile-button" type="button" data-fancybox="whatsapp" data-src="#whatsapp">
            <span class="mobile-button__icon">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#mobile_write_icon" />
                </svg>
            </span>
            Написать
        </button>
    </div>
</div>