<footer class="footer">
    <div class="footer__float-block">
        <div class="footer__note">
            <div class="container">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО<br> ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ</div>
        </div>

        <div class="footer__mobile-buttons">
            <button class="mobile-button" type="button">
                <span class="mobile-button__icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#mobile_record_icon" />
                    </svg>
                </span>
                Запись
            </button>

            <button class="mobile-button" type="button">
                <span class="mobile-button__icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#mobile_call_icon" />
                    </svg>
                </span>
                Звонок
            </button>

            <button class="mobile-button" type="button">
                <span class="mobile-button__icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#mobile_review_icon" />
                    </svg>
                </span>
                Отзыв
            </button>

            <button class="mobile-button" type="button">
                <span class="mobile-button__icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#mobile_write_icon" />
                    </svg>
                </span>
                Написать
            </button>
        </div>
    </div>

    <div class="footer__top">
        <div class="container">
            <div class="footer__top-top">
                <div class="footer__logo"><img src="images/logo.png" srcset="images/logo@2x.png" alt="Мой доктор"></div>

                <div class="footer__buttons">
                    <button class="footer__button button button--red" type="button">Запись на прием</button>

                    <button class="footer__button button button--light_blue" type="button">Заказать звонок</button>

                    <a class="footer__button footer__button--big button button--light_blue" href="#" target="_blank" rel="nofollow noreferrer noopener">
                        <svg class="fill-green" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#whatsapp_icon" />
                        </svg>
                        <span>Написать в WhatsApp</span>
                    </a>

                    <button class="footer__button button button--light_blue" type="button">Оставить отзыв</button>
                </div>

                <a class="footer__to-top" href="#" title="Наверх">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_up" />
                    </svg>
                </a>
            </div>

            <div class="footer__blocks">
                <div class="footer__block footer__block--mod_1">
                    <div class="phone-block">
                        <a class="phone-block__phone" href="#" target="_blank">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#phone_icon" />
                            </svg>
                            <span>+7 906 033 46 46</span>
                        </a>
                        <div class="phone-block__work-time">Ежедневно с 7:30 до 21:00</div>
                    </div>

                    <a class="footer__email-link" href="#">
                        <span>Написать нам:</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#envelope_icon" />
                        </svg>
                    </a>

                    <div class="socials">
                        <p class="socials__title">Наши соц сети:</p>

                        <div class="socials__links">
                            <a class="socials__link socials__link--vk" href="#" title="Мы Вконтакте" target="_blank" rel="nofollow noreferrer noopener">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#vk_icon" />
                                </svg>
                            </a>

                            <a class="socials__link socials__link--od" href="#" title="Мы в Одноклассниках" target="_blank" rel="nofollow noreferrer noopener">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#od_icon" />
                                </svg>
                            </a>

                            <a class="socials__link socials__link--yt" href="#" title="Мы на YouTube" target="_blank" rel="nofollow noreferrer noopener">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#yt_icon" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="footer__block">
                    <ul class="footer__menu">
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">О нас</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Руководство</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Отзывы</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Новости</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Правовая информация</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Корпоративным клиентам</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Лицензии</a></li>
                    </ul>
                </div>

                <div class="footer__block">
                    <ul class="footer__menu">
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Пациентам</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Врачи</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Услуги и цены</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Обслуживание по ДМС</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Вакансии</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Акции</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Контакты</a></li>
                    </ul>
                </div>

                <div class="footer__block">
                    <ul class="footer__menu">
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Записаться на прием</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Написать в WhatsApp</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Обратиться к руководству</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Запросить налоговый вычет</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Заполнить резюме</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Оставить отзыв</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-links">
                <a class="link-with-icon" href="#">
                    Версия для слабовидящих
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#eye_slash_icon" />
                    </svg>
                </a>

                <a href="#">Политика обработки cookie</a>

                <a href="#">Политика конфиденциальности</a>

                <a href="#">Обработка персональных данных</a>
            </div>

            <div class="footer__bottom-bottom">
                <p>Копирование, тиражирование, а равно иное использование материалов, размещенных на moy-doktor.org возможно только с письменного разрешения Правообладателя</p>
                <p>Сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ</p>
                <p class="footer__copyrights">
                    <span>© 1997-2023 Все права защищены ООО&nbsp;«МЦ&nbsp;ВМЛ&nbsp;«Мой&nbsp;Доктор»</span>

                    <a href="#">Сайт разработан - “Designer”</a>
                </p>
            </div>
        </div>
    </div>
</footer>