<header class="header">
    <div class="header__top">
        <div class="header__top-inner container">
            <a class="header__logo" href="#">
                <img src="images/logo.png" srcset="images/logo@2x.png" alt="Мой доктор">
            </a>

            <div class="header__search-form">
                <div class="search-form">
                    <form class="search-form__form" action="">
                        <input class="search-form__input" type="text" name="q" value="" placeholder="Поиск по сайту..." autocomplete="off">

                        <button class="search-form__submit" type="submit" title="Найти">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#search_icon" />
                            </svg>
                        </button>

                        <div class="search-form__dropdown">
                            <div class="search-form__dropdown-list">
                                <button class="search-form__var" type="button">Справки</button>
                                <button class="search-form__var" type="button">Справка для занятий общей физической подготовкой (ОФП)</button>
                                <button class="search-form__var" type="button">Справка для получения санаторно-курортной путевки (070/У)</button>
                                <button class="search-form__var" type="button">Справка для оздоровительного лагеря</button>
                                <button class="search-form__var" type="button">Справки для водителей (в ГИБДД)</button>
                                <button class="search-form__var" type="button">Справка для бассейна</button>
                                <button class="search-form__var" type="button">Справка об отсутствии COVID-1</button>
                                <button class="search-form__var" type="button">Справки</button>
                                <button class="search-form__var" type="button">Справка для занятий общей физической подготовкой (ОФП)</button>
                                <button class="search-form__var" type="button">Справка для получения санаторно-курортной путевки (070/У)</button>
                                <button class="search-form__var" type="button">Справка для оздоровительного лагеря</button>
                                <button class="search-form__var" type="button">Справки для водителей (в ГИБДД)</button>
                                <button class="search-form__var" type="button">Справка для бассейна</button>
                                <button class="search-form__var" type="button">Справка об отсутствии COVID-1</button>
                            </div>

                            <a class="search-form__var search-form__var--more" href="#" title="Показать все">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#chevron_down" />
                                </svg>
                            </a>
                        </div>
                    </form>
                </div>

                <div class="header__contacts-buttons">
                    <a class="button button--white" href="#" target="_blank">
                        <svg class="fill-red" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#phone_icon" />
                        </svg>
                    </a>

                    <a class="button button--white" href="#" target="_blank" rel="nofollow noreferrer noopener">
                        <svg class="fill-green" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#whatsapp_icon" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="header__phone-block phone-block">
                <a class="phone-block__phone" href="#" target="_blank">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#phone_icon" />
                    </svg>
                    <span>+7 906 033 46 46</span>
                </a>
                <div class="phone-block__work-time">Ежедневно с 7:30 до 21:00</div>
            </div>

            <a class="header__ally-button" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#eye_icon" />
                </svg>
            </a>

            <a class="header__phone-button" href="#" target="_blank">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#phone_icon" />
                </svg>
            </a>

            <button class="header__record-button button button--red" type="button">Запись на приём</button>

            <button class="js-menu-toggler menu-toggler" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger_icon" />
                </svg>
            </button>
        </div>
    </div>

    <div class="main-menu">
        <nav class="main-menu__nav">
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link is-active" href="#">О нас</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Пациентам</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Специалисты</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Услуги и цены</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Акции</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Аптека</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Вакансии</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="main-menu__contacts">
            <div class="phone-block">
                <a class="phone-block__phone" href="#" target="_blank">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#phone_icon" />
                    </svg>
                    <span>+7 906 033 46 46</span>
                </a>
                <div class="phone-block__work-time">Ежедневно с 7:30 до 21:00</div>
            </div>

            <button class="button button--red" type="button">Запись на приём</button>
        </div>
    </div>
</header>