<div class="left-buttons">
    <p class="left-buttons__title">Остались вопросы?</p>

    <a class="button button--white left-button" href="#">
        <svg class="fill-red" aria-hidden="true">
            <use xlink:href="images/sprite.svg#phone_icon" />
        </svg>
        <span>Заказать<br> звонок</span>
    </a>

    <a class="button button--white left-button" href="#">
        <svg class="fill-green" aria-hidden="true">
            <use xlink:href="images/sprite.svg#whatsapp_icon" />
        </svg>
        <span>Написать<br> в WhatsApp</span>
    </a>

    <a class="button button--white left-button" href="javascript:void(0)" data-fancybox="review_left_menu" data-src="#review">
        <svg class="fill-blue" aria-hidden="true">
            <use xlink:href="images/sprite.svg#chat_icon"></use>
        </svg>
        <span>Оставить<br> отзыв</span>
    </a>
</div>