<h2>Баннеры</h2>

<p>Картинки нет до планшета</p>

<div class="banner banner--type_1">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Заявка на прием/диагностику в&nbsp;МЦ&nbsp;«Мой&nbsp;доктор»</h2>
            <div class="bordered-text">
                <p>Оставьте заявку на запись и наш администратор<br> свяжется с Вами для подтверждения</p>
                <button class="button button--red" type="button">Заполнить заявку</button>
            </div>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_1/img.png" srcset="images/content/banners/banner_1/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Большой горизонтальный отступ текста слева на десктопе</p>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Узнайте, как получить результаты<br> анализов, не выходя из дома</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_2/img.png" srcset="images/content/banners/banner_2/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Правила оформления<br> и выдачи больничного листка</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_3/img.png" srcset="images/content/banners/banner_3/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">В День Вашего рождения и в течение 10 дней<br> после, мы предоставим Вам скидку 10%</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_16/img.png" srcset="images/content/banners/banner_16/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue mb-8">Мы предлагаем:</h2>
            <ul>
                <li>оформление новой медкнижки</li>
                <li>продление медкнижки без аттестации</li>
                <li>продление медкнижки с аттестацией</li>
            </ul>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_24/img.png" srcset="images/content/banners/banner_24/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Проведение реакции Манту<br> (туберкулин)</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_26/img.png" srcset="images/content/banners/banner_26/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Кнопка на мобиле поверх картинки</p>

<div class="banner banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Подайте заявку, не выходя из дома</h2>
            <div class="bordered-text">
                <p>Заполните онлайн-заявку и наш менеджер<br> подготовит необходимые документы</p>
                <p class="banner__price">до 120 000 рублей</p>
                <p class="banner__small-text">максимальная сумма, по которой<br> производится социальный налоговый вычет</p>
                <button class="banner__button button button--red" type="button">Заполнить заявку</button>
            </div>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_5/img.png" srcset="images/content/banners/banner_5/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Картинка на мобиле прижата вправо и больщой отступ текста слева на десктопе</p>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Холестерол-липопротеины низкой<br> плотности (ЛПНП)</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_13/img.png" srcset="images/content/banners/banner_13/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Картинка на мобиле прижата вправо</p>

<div class="banner banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Подайте заявку, не выходя из дома</h2>
            <div class="bordered-text">
                <p>Заполните онлайн-заявку и наш менеджер<br> подготовит необходимые документы</p>
                <button class="banner__button button button--red" type="button">Заполнить заявку</button>
            </div>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_4/img.png" srcset="images/content/banners/banner_4/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Медицинские услуги для юридических лиц</h2>
            <div class="bordered-text">
                <p>Мы предлагаем заботу о здоровье специалистов Вашей компании и индивидуальные условия сотрудничества для каждой организации</p>
                <a class="banner__button button button--red" href="#">Прайс-лист для организаций</a>
            </div>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_6/img.png" srcset="images/content/banners/banner_6/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Баннер врача</p>

<div class="banner banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="doctor-reviews">
                <a class="button button--white" target="_blank" href="#">3 отзыва</a>
                <button class="button button--white" type="button">Оставить отзыв</button>
            </div>
            <div class="about-doctor bordered-text">
                <p><b>Медицинский стаж:</b> 27 лет</p>
                <p><b>Специальность:</b></p>
                <ul>
                    <li>врач кардиолог</li>
                    <li>врач функциональной и ультразвуковой диагностики</li>
                </ul>
            </div>

            <button class="banner__button button button--red" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_8/img.png" srcset="images/content/banners/banner_8/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Баннер акция</p>

<div class="banner banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Рентген-обследование со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>

            <button class="banner__button button button--blue" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_9/img.png" srcset="images/content/banners/banner_9/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Консультация врача-аллерголога со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>

            <button class="banner__button button button--blue" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_10/img.png" srcset="images/content/banners/banner_10/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Консультация врача-аллерголога со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>

            <button class="banner__button button button--blue" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_11/img.png" srcset="images/content/banners/banner_11/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Общий анализ крови со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>

            <button class="banner__button button button--blue" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_12/img.png" srcset="images/content/banners/banner_12/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Капельницы со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_14/img.png" srcset="images/content/banners/banner_14/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Косметологические услуги со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_19/img.png" srcset="images/content/banners/banner_19/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Планирование беременности со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_21/img.png" srcset="images/content/banners/banner_21/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Оформите карту в сад со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_4/img.png" srcset="images/content/banners/banner_4/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Справка для водителей со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_22/img.png" srcset="images/content/banners/banner_22/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Медицинские справки со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_23/img.png" srcset="images/content/banners/banner_23/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Вызов врача на дом со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_14/img.png" srcset="images/content/banners/banner_14/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2">
    <div class="banner__inner">
        <div class="banner__text-block">
            <div class="banner__action">Акция</div>

            <h2 class="color-blue mb-8">Вакцинация со скидкой</h2>

            <p>
                <a class="banner__link" href="#">
                    Подробнее
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                </a>
            </p>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_27/img.png" srcset="images/content/banners/banner_27/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Большой горизонтальный отступ текста слева на десктопе и кнопка на мобиле поверх картинки</p>

<div class="banner banner--type_2 banner--type_3">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Ищем сотрудника на постоянную занятость</h2>
            <button class="banner__button button button--red" type="button">Записаться</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_15/img.png" srcset="images/content/banners/banner_15/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Просто баннер</p>

<div class="banner">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Лучший подарок - забота о здоровье!</h2>
            <div class="bordered-text">
                <p>Доступны сертификаты на 3000 рублей и 5000 рублей.<br> Спрашивайте у администраторов</p>
            </div>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_17/img.png" srcset="images/content/banners/banner_17/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>

<p>Большой отступ, кнопка на картинке на мобиле и прижатая картинка</p>

<div class="banner banner--type_2 banner--type_3 banner--type_4">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Проведение профосмотров<br> и медосмотры для юридических лиц<br> в Ивантеевке</h2>

            <button class="banner__button button button--red" type="button">Запрос стоимости</button>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_20/img.png" srcset="images/content/banners/banner_20/img@2x.png 2x" alt="">
        </div>
    </div>
</div>

<br>

<p>На мобиле поменяны местами текст и картинка, на десктопе отступ слева</p>

<div class="banner banner--type_2 banner--type_4 banner--type_5">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">Вызов кардиолога на дом</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_25/img.png" srcset="images/content/banners/banner_25/img@2x.png 2x" alt="">
        </div>
    </div>
</div>

<br>

<div class="banner banner--type_2 banner--type_4 banner--type_5">
    <div class="banner__inner">
        <div class="banner__text-block">
            <h2 class="color-blue">О здоровье глаз нужно<br> заботиться с детского возраста</h2>
        </div>

        <div class="banner__image">
            <img src="images/content/banners/banner_7/img.png" srcset="images/content/banners/banner_7/img@2x.png 2x" alt="" />
        </div>
    </div>
</div>

<br>