<section class="main-banner">
    <div class="main-banner__container">
        <div class="js-main-banner-slider main-banner__slider">
            <div>
                <div class="main-banner__slide">
                    <div class="main-banner__image">
                        <picture>
                            <source srcset="images/content/main-banner/b-d.png" media="(min-width: 768px)">
                            <img src="images/content/main-banner/b-m.png" alt="">
                        </picture>
                    </div>

                    <div class="main-banner__text-block">
                        <p class="main-banner__small-badge">Акция до 31.10</p>

                        <p class="main-banner__title"><span>Многопрофильная</span><br> медицинская помощь</p>

                        <p class="main-banner__text">С заботой о вашем здоровье и отличном самочувствии!</p>

                        <a class="main-banner__button button button--blue" href="#">Узнать подробнее</a>
                    </div>
                </div>
            </div>
            <!--<div>
                <div class="main-banner__slide">
                    <div class="main-banner__text-block">
                        <p class="main-banner__title">Многопрофильная<br> медицинская помощь</p>

                        <p class="main-banner__text">С заботой о вашем здоровье!</p>

                        <div class="main-banner__badges">
                            <div class="main-banner__badge">
                                <div class="main-banner__badge-title">25</div>
                                <div class="main-banner__badge-text">лет опыта</div>
                            </div>

                            <div class="main-banner__badge">
                                <div class="main-banner__badge-title">4</div>
                                <div class="main-banner__badge-text">клиники</div>
                            </div>

                            <div class="main-banner__badge">
                                <div class="main-banner__badge-title">>28</div>
                                <div class="main-banner__badge-text">направлений</div>
                            </div>
                        </div>

                        <a class="main-banner__button button button--blue" href="#">Узнать подробнее</a>
                    </div>
                    <div class="main-banner__image">
                        <picture>
                            <source srcset="images/content/main-banner/img_desktop.png, images/content/main-banner/img_desktop@2x.png 2x" media="(min-width: 1280px)">
                            <img src="images/content/main-banner/img_mobile.png" srcset="images/content/main-banner/img_mobile@2x.png 2x" alt="">
                        </picture>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>